<!-- categoryProducts.ejs -->
<%- include('layout', { title: 'Category Products' }) %>
    <h1><%= category.name %> Products</h1>

    <ul>
        <% category.products.forEach(product => { %>
            <li><%= product.name %></li>
        <% }); %>
    </ul>

