<!-- categoryList.ejs -->

<%- include('layout', { title: 'Category List' }) %>

<h2>Category List</h2>

<ul>
    <% categories.forEach(category => { %>
        <li><a href="/categories/<%= category._id %>"><%= category.name %></a></li>
    <% }); %>
</ul>
