<!-- categoryProducts.ejs -->
<%- include('layout', { title: 'Category Products' }) %>
    <h1><%= category.name %> Products</h1>

    <ul>
        <% products.forEach(product => { %>
            <li><%= product.name %></li>
        <% }); %>
    </ul>


    <a href="/categories">Back to categories List</a>