<%- include('layout', { title: 'Dashboard' }) %>

<h2>Welcome to the Dashboard</h2>
<p>This is where you can view an overview of your inventory.</p>


 <!-- Search bar -->
 <form action="/search" method="GET">
  <input type="text" name="q" placeholder="Search products...">
  <button type="submit">Search</button>
</form>

