

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>

    <form action="/products/edit/<%= product._id %>" method="POST">
        <!-- Input fields for editing product details -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>"><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description"><%= product.description %></textarea><br>
       

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
