
<%- include('layout', { title: 'Inventory' }) %>
    <h1>Inventory</h1>

    <ul>
        <% inventory.forEach(product => { %>
            <li>
                <%= product.name %> 
                <form action="/products/inventory/delete/<%= product._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <a href="/products">Back to Product List</a>

