<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/products">Product List</a></li>
                <li><a href="/products/add">Add Product</a></li>
                <li><a href="/products/inventory">Inventory</a></li>
                <li><a href="/categories">Categories</a></li>
                <% if (currentUser){  %>
                    <li class="welcomeGreet">Welcome <%= currentUser.username %></li>
                    
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                          <input type="submit" value="Log Out" />
                        </form>
                      </li>
               <% } else { %>

                <li><a href="/users/new">Sign Up</a></li>
                <li><a href="/sessions/new">Log In</a></li>

             <% } %>

            </ul>
        </nav>

        <!-- Include the Custom Search Element code snippet here -->
        <!-- <script async src="https://cse.google.com/cse.js?cx=970cff896f94f4ba1">
        </script>
        <div class="gcse-search"></div> -->
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        &copy; 2024 Inventory Management System
    </footer>
</body>
</html>
